<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<html>
    {% include 'ticks_app/head.html' %}

    

    <body>
        {% if user.is_authenticated %}



        {% include 'ticks_app/sidebar.html' %}

        {% else %}
        <div class="container" style="position: center; padding-left: 400px;padding-top: 100px;">
            <h1 style="padding-left:50px;">Links</h1>
            <br>
            <h4>Hi,welcome to Links</h4>
            <p>Please click on the Login link: <a class="navbar-link" href="{% url 'user_login' %}">Login</a></p>
            <p>Click here to Sign Up: <a class="navbar-link" href="{% url 'register' %}">Login</a></p>
        </div>
        {% endif %}
        {% csrf_token %}
    </body>


</html>